html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  position: static;
  top: 0px;
  left: 0px;
}
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background-color: rgb(224, 244, 251);
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  font-weight: bold;
}
a {
  text-decoration: none;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background-color: rgb(224, 244, 251);
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  font-weight: bold;
}

button:hover {
  background-color: rgb(249, 249, 249);
}
a:hover {
  background-color: rgb(249, 249, 249);
}

input {
  padding: 0;
  width: 300px;
  padding: 5px;
}

.error {
  background-color: rgb(250, 227, 227);
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  border: red solid 1px;
}
.success {
  background-color: rgb(218, 255, 218);
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  border: green solid 1px;
}
