.table {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  margin-left: 15%;
}

.table th {
  min-width: 100px;
  text-align: left;
  border-right: 1px solid black;
  margin: 0;
  padding: 0;
  padding-left: 5px;
  font-size: 1rem;
}
.table td {
  min-width: 100px;
  text-align: left;
  border-right: 1px solid black;
  margin: 0;
  padding: 10px;
}
.table tr {
  border-bottom: 1px solid black;
}
.table table {
  border-collapse: collapse;
}

tr:last-child {
  border-bottom: none;
}
td:last-child {
  border-right: none;
}
th:last-child {
  border-right: none;
}

.table .search-form {
  margin-bottom: 50px;
}
.table .actions {
  display: flex;
  margin: 5px;
}
.table .actions button {
  margin: 0 5px;
}
